h1{
    text-align: center;
    font-size: 36px;
    padding-top: 35px;
}

h1:hover{
    font-size: 42px;
    color: khaki;
}

a{
    text-decoration: none;   
}  

a:hover{
    color: rgb(153, 179, 228);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

#header{
    height: 100px;
    background-color: rgb(134, 161, 220);
}

#content{
    height: 540px;
    background-color: rgb(179, 183, 236);
}

.main-wrap{
    display: flex;
    flex-direction: column;
}

.wrap{
    display: flex;
    margin: 15px 0;
    padding-left: 50px;
}

.text{
    padding: 10px;
}

img{
    width: 150px;
    height: 150px;
}

#footer{
    background-color: rgb(153, 138, 207);
    display: flex;
    justify-content: center;
    height: 150px;
}

.footer-wrap{
    display: flex;
    padding-top: 50px;
}

footer img{
    width: 50px;
    height: 50px;
}

.footer-miniwrap{
    margin-left: 10px;
}